.jobSection {
  height: auto;
  width: 100%;
  background-color: #192d52;
  padding: 8vh;
  overflow: hidden;
}

.jobSectionData {
  background-color: rgba(4, 9, 30, 0.7);
  height: auto;
  width: 100%;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

.jobImg {
  display: flex;
}
.jobImg img {
  width: 120px;
  border-radius: 10px;
  padding: 2px;
  object-fit: cover;
}

/* .jobDesc */
.jobDesc {
  margin-left: 10px;
}
.jobDesc h4 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.jobDesc p {
  color: white;
}
.jobDesc span {
  font-size: 15px;
}
.jobDesc span:hover {
  color: white;
}
.viewAllJob p {
  display: flex;
  justify-content: end;
  color: white;
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
}
.viewAllJob p:hover {
  text-decoration: underline;
  color: #4636ff;
}

@media only screen and (max-width: 990px) {
  .jobSection {
    padding: 2vh 0vh 4vh 0vh;
    width: 100%;
    overflow: hidden;
  }
}
@media only screen and (max-width: 778px) {
  .jobDesc h4 {
    color: white;
    font-size: 17px;
  }
  .jobDesc p {
    color: white;
    font-size: 14px;
  }
  .jobImg img {
    width: 100px;
    height: auto;
  }
  .jobDesc span {
  font-size: 13px;
}
}
@media only screen and (max-width: 500px) {
  .jobDesc h4 {
    color: white;
    font-size: 16px;
  }

 
  .viewAllJob p {
    font-size: 13px;
  }
}
