.jobSection {
  height: auto;
  width: 100%;
  background-size: cover;
  flex-direction: column;
  background-color: #192d52;
  padding: 8vh;
  overflow: hidden;
}
.jobSectionTitle {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
  margin: 0px 0px 20px 0px;
  color: white;
}

.jobSectionData {
  background-color: rgba(4, 9, 30, 0.7);
  height: auto;
  width: 430px;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

.jobImg img {
  height: 130px;
  width: 150px;
  border-radius: 10px;
  padding: 2px;
}

/* .jobDesc */
.jobDesc {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.jobDesc h4 {
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.jobDesc p {
  color: white;
}
.jobDesc button {
  padding: 3px 10px;
  width: 40%;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 5px;
  font-size: 13px;
  background-color: #4636ff;
  color: white;
}
.jobDesc button:hover {
  color: black;
  background-color: white;
}
.viewAllJob p{
  display: flex;
  justify-content: end;
  color: white;
  margin-top:15px;
  font-weight: 600;
  cursor: pointer;
}
.viewAllJob p:hover{
  text-decoration: underline;
  color: #4636ff;
}

@media only screen and (max-width: 990px) {
  .jobSection {
    padding: 4vh 0vh 2vh 0vh;
    width: 100%;
    overflow: hidden;
  }
  .jobSectionData span {
    font-size: 21px;
  }
  .jobSectionTitle {
    font-size: 24px;
  }
  .jobSectionData p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 778px) {
  .jobSection {
    overflow: hidden;
  }
  .jobSectionTitle {
    font-size: 20px;
  }
  .jobSectionData span {
    font-size: 18px;
  }

  .jobSectionContainer p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .jobSectionData span {
    font-size: 18px;
  }

  .jobSectionContainer p {
    font-size: 12px;
  }
}
