.jobSection {
  height: auto;
  width: 100%;
  background-size: cover;
  flex-direction: column;
  background-color: #192d52;
  padding: 8vh;
  overflow: hidden;
}
.jobSectionTitle {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
  margin: 0px 0px 20px 0px;
  color: white;
}

.jobSectionData {
  background-color: rgba(4, 9, 30, 0.7);
  height: auto;
  width: 430px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.jobSectionContainer {
  display: flex;
  justify-content: space-evenly;
}

.jobSectionData span {
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.jobSectionData p {
  color: white;
  margin-top: 5px;
  font-size: 18px;
}

@media only screen and (max-width: 990px) {
  .jobSection {
   padding: 4vh 0vh 2vh 0vh;
    width: 100%;
    overflow: hidden;
  }
   .jobSectionData span {
    font-size: 21px;
  }
  .jobSectionTitle {
    font-size: 24px;
  }
  .jobSectionData p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 778px) {
  .jobSection {
    overflow: hidden;
  }
   .jobSectionTitle {
    font-size: 20px;
  }
   .jobSectionData span {
    font-size: 18px;
  }
 
  .jobSectionContainer p {
    font-size: 15px;
  }
}
@media only screen and (max-width: 500px) {
 .jobSectionData span {
    font-size: 18px;
  }
 
  .jobSectionContainer p {
    font-size: 12px;
  }
}

