.whyUs {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
}
.whyUsWrapper {
  width: 90%;
  margin-left: 5%;
  padding: 40px 80px 40px 80px;
}

.whyUsTitle {
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.1;
  padding: 0px 0px 20px 0px;
  color: white;
}

.whyUsContent p {
  font-size: 13px;
  line-height: 23px;
  margin-bottom: 40px;
  color: white;
}
