.navbar {
  width: 100%;
  height: auto;
  background-color: white;
  top: 0%;
  position: sticky;
  z-index: 99;
}
.navBarWrapper {
  padding: 0vh 9vh 0vh 9vh;
}

.navbar-brand img {
  height: 9vh;
}

/* nav items */
.nav-item {
  margin-left: 15px;
}
.nav-item i {
  /* font-size: 13px; */
  margin-left: 8px;
}
.nav-item a {
  color: #100135;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}
.nav-item a:hover {
  color: black;
}

/* shop dropdown */
.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  height: auto;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 30vh;
  box-shadow: 0px 1px 12px 5px rgba(0, 0, 0, 0.13);
  z-index: 1;
  border-radius: 2px;
  right: -60px;
  padding: 10px 1px 10px 1px;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin: 15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
@media only screen and (max-width: 1300px) {
  .navbar-brand img {
    height: 5vh;
  }
}

@media only screen and (max-width: 1000px) {
  .navbar {
    display: none;
  }
}
