.navbar {
  width: 100%;
  height: auto;
  background-color: #27159d;
  top: 0%;
  position: sticky;
  z-index: 99;
}

.navbar-brand {
  color: white;
  font-weight: 600;
  font-size: 24px;
}
.navbar-brand img {
  height: 9vh;
}

/* nav items */
.nav-item {
  margin-left: 15px;
}
.nav-item i {
  /* font-size: 13px; */
  margin-left: 8px;
}
.nav-item a {
  color: white;
  font-size: 17px;
}
.nav-item a:hover {
  color: black;
}

/* shop dropdown */
.dropbtn {
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  height: auto;
  display: none;
  position: absolute;
  background-color: rgb(128, 128, 244);
  min-width: 30vh;
  box-shadow: 0px 1px 12px 5px rgba(0, 0, 0, 0.13);
  z-index: 1;
  border-radius: 2px;
  right: -60px;
  padding: 10px 1px 10px 1px;
  border-radius: 5px;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 14px;
  margin: 15px;
}
.dropdown-content a:hover {
  font-size: 15px;
  transition: 0.5s;
}
.dropdown:hover .dropdown-content {
  display: block;
}

@media only screen and (max-width: 1000px) {
  .navBarWrapper {
    width: 100%;
  }
}
