.team {
 /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Z3JhZGllbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"); */
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  flex-direction: column;
  background-color: #4D5061;
}
.teamTitle {
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 900;
  margin: 0px 0px 20px 0px;
  color: white;
}

.card-body {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgba(4, 9, 30, 0.7) ;
}
.team_img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.team_img img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin: 20px 40px 4px 40px;
}

.teamContainer h5 {
  color: white;
}
.teamContainer p{
  color: white;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 2px solid #27159d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
  text-decoration: none;
  margin: 10px;
}

.social-link:hover,
.social-link:focus {
  background: #27159d;
  text-decoration: none;
  color: white;
}
