.client {
  height: auto;
  width: 100%;
  /* margin-bottom: 8vh; */
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1c3054;
  padding: 8vh;
}
.clientWrapper {
  width: 100%;
}

.clientTopBar {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
  margin: 0px 0px 1vh 0vh;
  color: white;
}

.userClient_content img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

/* dots */
.carousel-container {
  padding-bottom: 30px;
}
@media only screen and (max-width: 990px) {
  .client {
    padding: 4vh 0vh 0vh 0vh;
  }
  .clientTopBar {
    font-size: 24px;
  }
  .userClient_content img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .userClient_content img {
    height: 70px;
    width: 70px;
  }
  .clientTopBar {
    font-size: 20px;
  }
}

@media only screen and (max-width: 470px) {
  .user-image img {
    height: 50px;
    width: 50px;
  }
  .clientCard {
    margin: 20px 12px 20px 0px;
  }
  .userClient_content h5 {
    font-size: 14px;
  }
  .userClient_content h6 {
    font-size: 12px;
  }
  .userClient_content p {
    font-size: 11px;
  }
  .clientCard .ratings i {
    font-size: 10px;
  }
}
