.roadMap {
  height: auto;
  width: 100%;
  background-size: cover;
  flex-direction: column;
  background-color: #192d52;
  padding: 8vh;
  overflow: hidden;
}
.roadMapTitle {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 900;
  margin: 0px 0px 20px 0px;
  color: white;
}

.roadMapData {
  background-color: rgba(4, 9, 30, 0.7);
  height: 200px;
  width: 230px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5px 10px 5px 10px;
  position: relative;
  cursor: pointer;
}
.roadMapData .fa-check {
  height: 70px;
  width: 70px;
  background-color: #e9ecf0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}
.roadMapData .fa-check:hover {
  background-color: #4636ff;
  color: white;
}

.roadMapContainer {
  display: flex;
  justify-content: space-evenly;
}

.roadMapData p {
  color: white;
  margin-top: 10px;
  font-size: 14px;
}
.top-left {
  position: absolute;
  top: 7px;
  left: 55%;
  color: white;
  font-size: 20px;
  background-color: #4636ff;
  border-radius: 7px;
  font-size: 16px;
  width: 40%;
}

@media only screen and (max-width: 990px) {
  .roadMap {
    padding: 5vh 1vh 8vh 1vh;
    width: 100%;
    overflow: hidden;
  }
  .roadMapData {
    height: 150px;
    width: 200px;
    border-radius: 5px;
  }
  .roadMapTitle {
    font-size: 23px;
  }

  .roadMapData .fa-check {
    height: 50px;
    width: 50px;
    font-size: 20px;
  }

  .top-left {
    font-size: 17px;
    font-size: 14px;
    width: 35%;
    left: 57%;
  }
  .roadMapData p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 778px) {
  .roadMap {
    overflow: hidden;
  }
  .roadMapTitle h2 {
    font-size: 23px;
    margin-top: 10px;
  }

  .roadMapContainer h5 {
    font-size: 17px;
  }
  .roadMapContainer p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 450px) {
  .roadMapTitle h2 {
    font-size: 21px;
  }
  .roadMapData .fa-check {
    height: 45px;
    width: 45px;
    font-size: 18px;
  }

  .top-left {
    font-size: 13px;
    width: 35%;
    left: 58%;
  }
}
