.message {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #192d52;
  padding: 8vh 8vh 4vh 8vh;
}

.messageImg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.messageImg img {
  height: 300px;
  width: 450px;
  border-radius: 10px;
}
.messageImg p {
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  margin: 10px;
}

.messagename {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.messageContent p {
  color: white;
}

@media only screen and (max-width: 990px) {
  .message {
    padding: 8vh 1vh 5vh 1vh;
    overflow: hidden;
  }
  .messageImg img {
    height: 320px;
    width: 350px;
    border-radius: 10px;
  }
  .messageImg p {
    font-size: 16px;
  }
  .messagename {
    font-size: 20px;
  }
  .messageContent {
    width: 50%;
  }
  .messageContent p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 779px) {
  /* .messageImg img{
    width: 100%;
  } */
  .messageContent {
    width: 100%;
  }
  .messageImg p {
    font-size: 14px;
  }
  .messagename {
    font-size: 19px;
  }
  .messageContent p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 512px) {
  .messageImg img {
    height: 250px;
    width: 350px;
    border-radius: 10px;
  }

}
