.message {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #192d52;
  padding: 8vh;
}

.messageImg img {
  height: 350px;
  width: 100%;
  border-radius: 10px;
}


.messagename {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.messageContent p {
  color: white;
  font-size: 18px;
  text-align: justify;
}
.secondData{
  margin-top: 80px;
}

@media only screen and (max-width: 990px) {
  .message {
   padding: 4vh 0vh 0vh 0vh;
    overflow: hidden;
  }
  .messageImg img {
    height: 320px;
    width: 350px;
    border-radius: 10px;
  }

  .messagename {
    font-size: 24px;
  }
  .messageContent {
    width: 50%;
  }
  .messageContent p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 779px) {
  .messageImg {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .messageContent {
    width: 100%;
  }
  .messagename {
    font-size: 20px;
  }
  .messageContent p {
    font-size: 15px;
  }
  .secondImg img{
    margin-top: -60px;
  }
}

@media only screen and (max-width: 512px) {
  .messageImg img {
    height: 250px;
    width: 350px;
    border-radius: 10px;
  }
}
