.sector {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("https://images.pexels.com/photos/1181304/pexels-photo-1181304.jpeg?auto=compress&cs=tinysrgb&w=1460&h=1250&dpr=1");
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8vh;
}


.sector__item {
  border-radius: 10px;
  margin: 40px;
  display: flex;
  justify-content: center;
}

.sector__thumb {
  width: 150px;
  height: 130px;
  border: 3px solid #4636ff;
  border-radius: 20px;
}
.sector__thumb img {
  width: 148px;
  height: 128px;
  border-radius: 20px;
  padding: 3px 7px 6px 3px;
}

.sector__thumb h3 {
  font-size: 18px;
  margin-top: 10px;
  color: white;
}

@media only screen and (max-width: 990px) {
  .sector {
   padding: 2vh 0vh 2vh 0vh;
   
  }
  .sectorTitle {
    font-size: 24px;
  }
}

@media only screen and (max-width: 768px) {
 
  .sectorTitle {
    font-size: 20px;
  }
  .sector__thumb h3 {
  font-size: 15px;
}
}
