.sector {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectorTitle {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 900;
  line-height: 1.1;
  color: white;
  margin: 0px 0px 4vh 0vh;
}
.sectorWrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sector__item {
  border-radius: 10px;
  margin: 40px;
  display: flex;
  justify-content: center;
}

.sector__thumb {
  width: 150px;
  height: 130px;
  border: 3px solid #4636ff;
  border-radius: 20px;
}
.sector__thumb img {
  width: 148px;
  height: 128px;
  border-radius: 20px;
  padding: 3px 7px 6px 3px;
}

.sector__thumb h3 {
  font-size: 17px;
  margin-top: 10px;
  color: white;
}
