.mainTopbar {
  background-color: #1c3054;
  width: 100%;
  top: 0;
  z-index: 999;
  padding: 0vh 8vh 0vh 8vh;
}

/* left side contain */
.leftSideMainTopBar {
  height: 4.5vh;
  display: flex;
  align-items: center;
  color: white;
}
.iconsItem {
  margin: 0px 12px 0px 12px;
  cursor: pointer;
}
.iconsItem i {
  font-size: 15px;
}

/* right side contain data */
.rightSidemainTopBar {
  /* padding-right: 15.5%; */
  color: white;
  display: flex;
  align-items: center;
  justify-content: end;
}
/* contact */
.rightSideContact {
  margin-right: 20px;
  font-size: 15px;
}
.rightSideContact i {
  margin-right: 4px;
  font-size: 13px;
}
/* email */
.rightSideEmail {
  margin-right: 15px;
  font-size: 15px;
}
.rightSideEmail i {
  margin-right: 4px;
  font-size: 15px;
}

@media only screen and (max-width: 1000px) {
  .mainTopbar {
    display: none;
  }
}
