.about__area {
  /* margin: 10vh 0vh 10vh 0vh; */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("https://images.pexels.com/photos/1181304/pexels-photo-1181304.jpeg?auto=compress&cs=tinysrgb&w=1460&h=1250&dpr=1");
  height: 100vh;
  width: 100%;
   background-size: cover;
    background-position: center;
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
   background-attachment: fixed;
}



.about__thumb {
  position: relative;
  margin-left: 18%;
  display: flex;
  justify-content: center;
}
.about__thumb .imageOne {
  height: 400px;
  width: 420px;
  object-fit: cover;
  border-radius: 10px;
}

.about__thumb::after {
  position: absolute;
  bottom: 20px;
  right: 0;
  content: "";
  width: 95%;
  height: 150px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #8aa29a;
  z-index: -1;
}

/* title */
.section__title h2 {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.1;
  color: white;
}
.about__content p {
  font-size: 15px;
  line-height: 26px;
  color: white;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about__thumb::after {
    right: -45px;
  }
}

/* shape */
.about__shape {
  position: absolute;
  top: 100px;
  left: -27px;
  z-index: -1;
}

.about__content {
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about__content {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about__content {
    margin-top: 50px;
  }
}
@media (max-width: 575px) {
  .about__content {
    margin-top: 50px;
  }
}

/* section title */
.section__title span {
  font-size: 18px;
  color: #4636ff;
  display: inline-block;
  font-weight: 700;
  font-family: "Frank Ruhl Libre", serif;
  margin-bottom: 25px;
}

.about__content button {
  padding: 6px 14px;
  border: none;
  outline: none;
  border: 2px solid #4636ff;
  background: transparent;
  border-radius: 10px;
  font-size: 15px;
  background-color: #4636ff;
  color: white;
}
.about__content button:hover {
  color: black;
  background-color: white;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section__title h2 {
    font-size: 50px;
  }
}
@media (max-width: 575px) {
  .section__title h2 {
    font-size: 50px;
  }
}
