.about__area {
  /* margin: 10vh 0vh 10vh 0vh; */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("https://images.pexels.com/photos/1181304/pexels-photo-1181304.jpeg?auto=compress&cs=tinysrgb&w=1460&h=1250&dpr=1");
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 8vh;
}

.about__thumb .imageOne {
  height: 400px;
  width: 550px;
  border-radius: 10px;
}

/* title */
.abouitsection__title h2 {
  font-size: 30px;
  font-weight: 900;
  line-height: 1.1;
  color: whitesmoke;
}

.about__content p {
  font-size: 18px;
  line-height: 26px;
  color: white;
  text-align: justify;
}

/* section title */

.about__content button {
  padding: 6px 14px;
  border: none;
  outline: none;
  border: 2px solid #4636ff;
  background: transparent;
  border-radius: 5px;
  font-size: 15px;
  background-color: #4636ff;
  color: white;
}
.about__content button:hover {
  color: black;
  background-color: white;
}

@media only screen and (max-width: 991px) {
  .about__area {
    padding: 2vh 0vh 2vh 0vh;
  }
  .about__thumb .imageOne {
    height: 400px;
    width: 320px;
    object-fit: cover;
  }
  .aboutDataText {
    width: 50%;
  }

  .abouitsection__title h2 {
    font-size: 26px;
  }
  .about__content p {
    font-size: 16px;
  }
  .about__content button {
    padding: 5px 10px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .about__area {
    width: 100%;
  }
  .about__thumb .imageOne {
    height: 40vh;
    width: 100%;
    border-radius: 20px;
    object-fit: contain;
  }
  .aboutDataText {
    width: 100%;
    height: auto;
  }
  .abouitsection__title h2 {
    font-size: 23px;
    margin-top: 10px;
  }
  .about__content p {
    font-size: 15px;
  }
  .about__content button {
    padding: 5px 9px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 512px) {
  .about__thumb img {
    width: 100%;
    height: auto;
  }

}
