.aboutUsData {
  /* margin: 10vh 0vh 10vh 0vh; */
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("https://images.pexels.com/photos/1181304/pexels-photo-1181304.jpeg?auto=compress&cs=tinysrgb&w=1460&h=1250&dpr=1");
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 8vh;
}

.aboutUsDataImg img {
  height: 400px;
  width: 100%;
  border-radius: 5px;
}

.aboutUsDataname {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.aboutUsDataContent p {
  color: white;
  font-size: 18px;
  text-align: justify;
}
.secondData {
  margin-top: 80px;
}
.aboutUsDataContent button {
  padding: 4px 20px;
  border: none;
  outline: none;
  border: 2px solid #4636ff;
  background: transparent;
  border-radius: 5px;
  font-size: 15px;
  background-color: #4636ff;
  color: white;
}
.aboutUsDataContent button:hover {
  color: black;
  background-color: white;
}

@media only screen and (max-width: 990px) {
  .aboutUsData {
    padding: 2vh 0vh 2vh 0vh;
    overflow: hidden;
  }
  .aboutUsDataImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutUsDataImg img {
    height: 40vh;
    width: 100%;
    object-fit: fill;
  }

  .aboutUsDataname {
    font-size: 24px;
  }
  .aboutUsDataContent {
    width: 50%;
  }
  .aboutUsDataContent p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 779px) {
  .aboutUsDataImg {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .aboutUsDataImg img {
    width: 100%;
  }
  .aboutUsDataContent {
    width: 100%;
  }
  .aboutUsDataname {
    font-size: 20px;
  }
  .aboutUsDataContent p {
    font-size: 15px;
  }
  .secondImg img {
    width: 100%;
  }
  .secondData {
    margin-top: 4px;
  }
  .aboutUsDataContent button {
    padding: 4px 15px;
    font-size: 13px;
  }
}

@media only screen and (max-width: 512px) {
  .aboutUsDataImg img {
    height: 250px;
    width: 350px;
  }
}
