.resumeForm {
  width: 100%;
  height: auto;
  margin-top: 5vh;
  padding-bottom: 10vh;
  /* background-color: #192D52; */
}
.postResumeTitle {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 27px;
}

.container-wrapper h3 {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
}

/* country applied for */
.inputItem input {
  width: 100%;
  height: 40px;
  outline-color: blue;
  border-radius: 5px;
  padding: 4px 10px;
  border: none;
  border: 1px solid gray;
}
.inputItem label {
  font-size: 16px;
  margin-top: 10px;
}

.personaldetailtext {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
}
.inputItem textarea {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 4px 10px;
  outline-color: blue;
}
.inputItemSelect select {
  width: 20%;
  padding: 4px 10px;
  border: none;
  border: 1px solid gray;
  border-radius: 5px;
}
.photoInputText label {
  font-size: 14px;
  margin-top: 10px;
}

/* language experience */
.languageExp h3 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}
.languagename {
  font-weight: 600;
  font-size: 15px;
  margin-top: 22px;
}
.languageItem label {
  font-size: 14px;
  font-weight: 600;
}
.languageItem select {
  width: 100%;
  padding: 3px 2px;
  border: none;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
}

/* education */
.educationTitle {
  font-size: 18px;
  margin-top: 30px;
  font-weight: 600;
}
.educationWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* work expperience */
.workExp {
  margin-top: 30px;
}
.workExp h3 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}
.workExpWrapper {
  display: flex;
  justify-content: space-between;
}
.workExpWrapper .inputItem input {
  width: 100%;
}

.workExpWrapper .workExpItem h4 {
  font-size: 16px;
  margin-top: 10px;
}

/* others skills */
.othersSkills {
  margin-top: 4px;
}
.othersSkills h3 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}
.othersSkills textarea {
  width: 100%;
  height: 10vh;
  border-radius: 10px;
  outline-color: #4636ff;
}
/* submit button */
.submmitBtn {
  margin-top: 20px;
}
.submmitBtn button {
  padding: 4px 25px;
  border: none;
  outline: none;
  border: 2px solid #4636ff;
  background: transparent;
  border-radius: 10px;
  font-size: 16px;
  background-color: #4636ff;
  color: white;
}
.submmitBtn button:hover {
  color: white;
  background-color: black;
}
